.header{
    background-color: black;
    color: white;
    padding: 1px;
    padding-left: 75px;
}

.area{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.middle{
    width:33%;
}

#imgContainer{
    width:200px;
    height: 100px;
}

#selectedLaptopImage{
    position: relative;
    float: left;    
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
}

